.cmpt__quote {
	padding-bottom: 104px;

    @include print-detail {
        page-break-inside: avoid;
    }

    .quote-inner-borders {
        border-bottom: 1px solid get-color(geyser);
        border-top: 1px solid get-color(geyser);
        padding-top: 48px;
        padding-bottom: 48px;

        @include print-detail {
            padding-left: 56px;
        }
    }
}