body {
  /* background-image: repeating-conic-gradient(#252525 0% 25%, #282828 0% 50%); */
  background-color: red;
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  background-color: #282828;
  font-size: 14px;

  /* background-image: url('https://miso88.com/assets/images/background/home-bg.jpeg?ignoreCache=1');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

