@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Inter;
  src: url('./Inter-Light.ttf') format('opentype');
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('./PlayfairDisplay-Medium.ttf') format('opentype');
}

* {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(227, 227, 227, 0.7);

}

.loading__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(227, 227, 227, 0.7);
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Override header slider */
.carousel-header .carousel.carousel-slider {
  overflow: visible !important;
}

.carousel-header .carousel .control-dots {
  bottom: -56px !important;
  right: 132px !important;
  margin: 0 !important;
  width: auto !important;
}

.carousel-header .carousel .control-dots .dot {
  border-radius: 0 !important;
  width: 24px !important;
  height: 2px !important;
  margin: 0 4px !important;
  background: black !important;
  box-shadow: none !important;
}

.carousel-header .carousel .carousel-status {
  bottom: -61px !important;
  right: 64px !important;
  top: auto !important;
  color: black !important;
  font-size: 16px !important;
  text-shadow: none !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 767px) {
  .carousel-header .carousel .control-dots {
    bottom: -36px !important;
    right: 48px !important;
  }

  .carousel-header .carousel .control-dots .dot {
    width: 12px !important;
  }

  .carousel-header .carousel .carousel-status {
    font-size: 12px !important;
    right: 0px !important;
    bottom: -40px !important;
  }
}


/* Override selected slider */
.carousel-selected-project .carousel.carousel-slider {
  overflow: visible !important;
}

.carousel-selected-project .carousel .control-dots {
  top: -64px !important;
  right: 48px !important;
  margin: 0 !important;
  width: auto !important;
}

.carousel-selected-project .carousel .control-dots .dot {
  border-radius: 0 !important;
  width: 24px !important;
  height: 2px !important;
  margin: 0 4px !important;
  background: black !important;
  box-shadow: none !important;
}

.carousel-selected-project .carousel .carousel-status {
  top: -64px !important;
  right: 172px !important;
  color: black !important;
  font-size: 16px !important;
  text-shadow: none !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 767px) {

  .carousel-selected-project .carousel .control-dots,
  .carousel-selected-project .carousel .carousel-status {
    display: none !important;
  }
}

/* Override news slider */
.carousel-news .carousel.carousel-slider {
  overflow: visible !important;
}

.carousel-news .carousel .control-dots {
  top: -64px !important;
  left: 472px !important;
  margin: 0 !important;
  width: auto !important;
}

.carousel-news .carousel .control-dots .dot {
  border-radius: 0 !important;
  width: 24px !important;
  height: 2px !important;
  margin: 0 4px !important;
  background: black !important;
  box-shadow: none !important;
}

.carousel-news .carousel .carousel-status {
  top: -64px !important;
  left: 400px !important;
  color: black !important;
  font-size: 16px !important;
  text-shadow: none !important;
  font-weight: 500 !important;
}

.carousel-news {
  width: 66.667%;
}

.carousel-news .carousel .slider-wrapper {
  overflow: visible !important;
}

.carousel-testimonial {
  width: 40%;
}

.carousel-testimonial .carousel.carousel-slider {
  overflow: visible !important;
}

.carousel-testimonial .carousel .slider-wrapper {
  overflow: visible !important;
}

@media only screen and (max-width: 767px) {
  .carousel-testimonial {
    width: 100% !important;
  }
}