.close-button {
    background-color: get-color(tarawera);
    display: block;
    width: 48px;
    height: 48px;
    color: get-color(white);
    font-size: rem-calc(45px);
    font-weight: $font-light;
    font-family: $gotham;
    overflow: hidden;
    cursor: pointer;

    &.close-button-transparent {
        background: transparent;
    }

    &.close-button-round {
        background-color: get-color(athens-gray);
        border-radius: 50%;
        color: get-color(regal-blue);
    }
}

/**
 * Text inputs
 */
input[type="text"] {
    border: 0;
    background: none;
    color: white;

    // Placeholder
    &::placeholder {
        color: get-color(white);
    }
}

/**
 * CTA Buttons
 */
.cta {
    //blue with white text, yellow arrow
    text-align: center;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 13px 32px 12px;
    position: relative;
    color: white;
    font-weight: $font-medium;
    font-size: rem-calc(14px);
    letter-spacing: 0.28px;
    display: inline-flex;
    align-items: center;
    min-height: 48px;
    cursor: pointer;
    transition: color .3s ease-in, background-color .3s ease-in;
    text-transform: capitalize;
    line-height: 1;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(152deg,#FFD303 44%,#FF9914 100%);
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .5s;
    }

    &:hover {
        color: get-color(charcoal);
        border-color: transparent;
        z-index: 1;
        
        &:after {
            opacity: 1;
        }
    }

    &.cta-large {
        font-size: 18px;
        min-height: 60px;
    }

    &.cta-type {
        border-color: transparent;
        color: white;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: radial-gradient(at 0 36px,rgba(26,75,132,1) 0,rgba(85,5,57,1) 45%,rgba(67,2,42,1) 54%,rgba(2,0,0,1) 100%);
            opacity: 1;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .5s;
        }

        &:hover {
            color: get-color(charcoal);
            border-color: transparent;
            
            &:before {
                opacity: 0;
            }
        }
    }

    &.cta-text-only {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: black;
        border: 0;
        padding: 0;
        text-transform: none;
        min-height: 0;
        padding-right: 20px;
        text-align: left;
        z-index: 0;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            border: 0;
            width: 18px;
            height: 18px;
            right: 0;
            left: auto;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            background-image:url('/assets/static/icon-right-arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &.cta-text-only-large {
            font-size: 18px;
        }

        &.cta-text-only-white {
            color: get-color(white);
            
            &:before {
                background-image:url('/assets/static/icon-right-arrow-white.svg');
            }

            &:hover:before {
                background-image:url('/assets/static/icon-right-arrow.svg');
            }
        }
    }
}
